{% load staticfiles %}

<div class="boxed animated fadeIn animation-delay-5">
    
    <header id="header" class="hidden-xs">
        <div class="container">
            <div id="header-title">
                <h1 class="animated fadeInDown"><a href="index.html">Open <span>Mind</span></a></h1>
                <p class="animated fadeInLeft">Clean and elegant theme</p>
            </div>
    
            <div id="social-header" class="hidden-xs">
                <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
            </div>
    
            <div id="search-header" class="hidden-xs animated bounceInRight">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                </div><!-- /input-group -->
            </div>
        </div> <!-- container -->
    </header> <!-- header -->
    
    <nav class="navbar navbar-static-top navbar-mind" role="navigation">
        
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>
    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                    
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-inverse"></i>
                    
                </button>
                
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-mind-collapse">
                
                {% include 'common/menu.html' %}
                
                {% include 'common/user.html' %}
                
            </div><!-- navbar-collapse -->
            
        </div> <!-- container -->
        
    </nav> <!-- navbar navbar-default -->

</div> <!-- boxed -->